html {
  overflow-y: hidden;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial;
}

form {
  transform: translateX(-150%);
  padding: 10px;
  background: rgba(200, 200, 200, 0.7);
  border-radius: 20px;
  border: 4px solid rgb(200, 200, 200);
  position: absolute;
  top: 40px;
  left: 10px;
  width: 300px;
  transition: transform 200ms ease-out;
}

form.shown {
  transform: translateX(0);
}

form.shown+label.showbutt {
  transform: rotateY(180deg);
}

label.showbutt {
  transform: rotateY(0);
  position: absolute;
  padding: 0 10px;
  top: 10px;
  left: 10px;
  background: rgba(200, 200, 200, 0.7);
  transition: transform 200ms ease-out;
  border-radius: 20px;
  font-weight: bold;
}

label.showbutt::after {
  content: "<";
}

div.group {
  margin: 10px 0;
  text-align: center;
  border-bottom: 1px solid #555;
}

div.group:first-child {
  margin-top: 0;
}

div.group:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

div.button {
  display: inline-block;
  width: fit-content;
  padding: 2px 5px;
  background-color: white;
  cursor: pointer;
}
